version: '3.3'
services:
    all-node:
        ports:
            - '8444:8444'
        container_name: chia-allnode
        volumes:
            - '~/.chia:/root/.chia'
            - '~/.local:/root/.local'
            - '/plots-tmp:/plots-tmp'
            - '/plots-final:/plots-final'
        image: chia-docker
        command: ['/bin/bash', '/entrypoint.sh', 'all']
    harvester:
        container_name: chia-harvester
        environment:
           FARMER_IP: ${FARMER_IP}
           FARMER_PORT: ${FARMER_PORT}
        volumes:
            - '~/.chia:/root/.chia'
            - '~/.local:/root/.local'
            - '/plots-tmp:/plots-tmp'
            - '/plots-final:/plots-final'
        image: chia-docker
        command: ['/bin/bash', '/entrypoint.sh', 'harvester']
    create-plots-k32:
        container_name: chia-create-plots
        environment:
           BUCKET: ${BUCKET} 
        volumes:
            - '~/.chia:/root/.chia'
            - '~/.local:/root/.local'
            - '/plots-tmp:/plots-tmp'
            - '/plots-final:/plots-final'
            - './conf:/conf'
        image: chia-docker
        command: ['/bin/bash', '/entrypoint.sh', 'create-plots-k32']
    dev:
        container_name: chia-dev
        environment:
           BUCKET: ${BUCKET} 
           FARMER_IP: ${FARMER_IP}
           FARMER_PORT: ${FARMER_PORT}
        volumes:
            - '~/.chia:/root/.chia'
            - '~/.local:/root/.local'
            - '/plots-tmp:/plots-tmp'
            - '/plots-final:/plots-final'
            - './conf:/conf'
        image: chia-docker
        command: ['sleep', '99999999']
